@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #bde0fe;
}

.container {
    width: 25rem;
    height: 25rem;
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
}

.container header {
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}

.container form {
    margin: 1.5rem 0 1.25rem 0;
}

form :where(input, select, button) {
    width: 100%;
    outline: none;
    border: none;
    border-radius: .3rem;
}

form select {
    margin-bottom: .5rem;
}

form input {
    height: 3rem;
    padding: 0 1rem;
    margin: 1rem 0;
    border: 1px solid #999;
}

form input:focus {
    padding: 0 1rem;
    border: 2px solid navy;
}

.from p, .to p {
    margin-left: .3rem;
}

form .drop-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.drop-list .currency-select {
    display: flex;
    height: 2rem;
    width: 7rem;
    border-radius: .3rem;
    align-items: center;
    justify-content: center;
}

.drop-list .conversion-arrows {
    margin-top: 1rem;
    font-size: 1rem;
}

.currency-select select {
    width: auto;
    margin: 0 -.3rem 0 .3rem;
}

.currency-select img {
    max-width: 2.5rem;
}

.exchange-rate {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0;
}